/* Estilos para cambiar el boton de cambiar el idioma */
.language-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

.language-switch button {
    background-color: lightgray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
        background-color: gray;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 {
    text-align: center;
    width: 100%;
}

/* Estilos para el contenedor de preguntas y respuestas */
.faq-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.faq {
    width: 100%;
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.faq h3 {
    display: inline-block;
    width: calc(100% - 40px);
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.faq p {
    margin: 0;
    padding: 5px 0;
    opacity: 0;
    max-height: 0;
    font-size: 20px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.faq.active p {
    opacity: 1;
    max-height: 600px;
    padding: 10px 20px 20px;
    text-align: justify;
}

.faq .toggle-btn {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    .fa-x {
        display: none;
    }
}

.faq.active .toggle-btn {
    background-color: gray;
    .fa-x {
        display: block;
        color: #fff;
    }
    .fa-chevron-down {
        display: none;
    }
}